[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
python-dotenv = "*"
redis = "*"
teleredis = "*"
beautifulsoup4 = "*"
bardapi = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.12"
